body{
    color: rgb(0, 0, 0)58);
    background-color: rgb(214, 186, 166);
}

p{
    text-align: justify;
    margin-left: 0%;
    margin-right: 1%;
    text-indent: 3%;
    font-family: link href="https: //fonts.googleapis.com/css2? family= Lato:wght@100 & display=swap"; rel="stylesheet";
}

h1,h2,h3,h5{
    text-align: center;
    background-color: rgb(205, 59, 59);
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;

}

h4{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
